.body-content {
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    height:100%;
  }
  
  .body-content > .sidebar-content{
    display:flex;
    flex-direction: column;

  
    width: 30%;
  }

  .body-content > .sidebar-content.right{
    border-left: 1px solid lightgray;

  }
  
  .body-content > .sidebar-content.left{
    border-right: 1px solid lightgray;
  }

  .body-content > .main-content{
    display:flex;
    flex-direction: column; 
    width: 100%;
  }
  


.list-item{
    flex-direction: column;
}

.row-dimension{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .3rem .5rem;
}

.input-dimension{
    padding: 5px 0 
}